*{
    box-sizing: border-box;
}
.menu{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: auto;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin: 40px;
    padding: auto;
    font-size: 2em;

}
.wrapper{
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 2%;
}


ul {
    list-style-type: none;
    font-weight: 900;
}

li {
    display: inline;
    padding-left: 10%;
    font-size: 20px;

}

a {
    color: #333;

}
.col-one{  
     margin-left:10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px; 
}
.col-two{
    
    border-left: 3px solid #333;
    margin-left:10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}

body{
    padding: 0;
    color: #333;
    background-color: #DCDCDC;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0px;
}
.viewport{
    background-color: white;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    
}
img{
    float: left; 
    padding-right: 2%; 
    padding-bottom: 2%; 
}

h1,h2{
    text-align: center;
    padding-top: 1%;
    margin: 0%;
}
h3{
    margin: 3px;
}
